<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="UTF-8">
    <title>全民养羊官网后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body class="layui-anim layui-anim-up">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input class="layui-input" placeholder="标题名称" name="serviceName" id="serviceName">
          <div class="layui-input-inline">
          <select id="serviceLevel">
            <option value="">是否是一级标题</option>
            <option value="0">是</option>
            <option value="1">否</option>
          </select>
          </div>
          <button id="query" class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn" onclick="x_admin_show('添加一级标题','/Fengdi/view/member-add')"><i class="layui-icon"></i>添加一级标题</button>
        <button class="layui-btn" onclick="javascript:member_add2();"><i class="layui-icon"></i>添加二级标题</button>
        <span class="x-right" th:text="'共有数据:'+${selectByExample.total}+'条'" style="line-height:40px">共有数据： 条</span>
      </xblock>
      <form id="c">
      <table class="layui-table">
        <thead>
          <tr>
            <th>本级编码</th>
            <th>上级编码</th>
            <th>标题名称</th>
            <th>标题链接</th>
            <th>是否一级标题</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody id="tbodys">
          <tr th:each="s:${selectByExample.list}">
            <td th:text="${s.serviceNo}"></td>
            <td th:text="${s.superServiceNo}"></td>
            <td th:text="${s.serviceName}"></td>
            <td th:text="${s.serviceUrl}"></td>
            <td th:text="${s.serviceLevel==1}?'否':'是'"> </td>
            <td th:text="${#dates.format(s.createTime,'yyyy-MM-dd')}"></td>
            <td th:text="${#dates.format(s.updateTime,'yyyy-MM-dd')}"></td>
            <td class="td-status">
              <span th:class="${s.status=='1'?'layui-btn layui-btn-normal layui-btn-mini':'layui-btn layui-btn-disabled'}"
                    th:text="${s.status=='1'}?'正常':'冻结'">
              </span>
            </td>
            <td class="td-manage">
              <a th:onclick="'javascript:member_stop(this,\''+${s.serviceNo}+'\')'" href="javascript:;"  th:title="${s.status=='1'?'停用':'启用'}">
                <i class="layui-icon">&#xe601;</i>
              </a>
              <a title="编辑"  th:onclick="'javascript:member_getNo(\''+${s.serviceNo}+'\');'" href="javascript:;">
                <i class="layui-icon">&#xe642;</i>
              </a>
              <a title="删除" th:onclick="'javascript:member_del(\''+${s.serviceNo}+'\');'" href="javascript:;">
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      </form>
      <div align="center" id="divPage">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li>
              <a th:href="@{'/FserviceController/getall?page='+${selectByExample.isFirstPage?1:selectByExample.prePage}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li th:class="${arrays==selectByExample.pageNum?'active':''}" th:each="arrays:${selectByExample.navigatepageNums}">
              <a th:text="${arrays}" th:href="@{'/FserviceController/getall?page='+${arrays}}">1</a></li>
            <li>
              <a th:href="@{'/FserviceController/getall?page='+${selectByExample.isLastPage?selectByExample.pages:selectByExample.nextPage}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="page">
    </div>
    <script>

        $(function () {
            $("#query").click(function () {
                getAjax(1);
                return false;
            });
        })

        function getAjax(data) {
            $.ajax({
                url:"/Fengdi/FserviceController/selectByMhcx",
                type:"get",
                data:{
                    page:data,
                    serviceName:$("input[name='serviceName']").val(),
                    serviceLevel:$('#serviceLevel option:selected').val(),
                },
                success:function (data) {
                    eachData(data.list);
                    eachPage(data);
                    $(".x-right").html("共有数据："+ data.total+" 条");
                }
            });
            return false;
        }

        function eachPage(data) {
            $("#divPage").empty();
            $(".page").empty();

            var $prev = $("<a>").addClass("prev").attr("href","javascript:getAjax("+(data.isFirstPage?1:data.prePage)+")").html("&lt;&lt;");
            var $next = $("<a>").addClass("next").attr("href","javascript:getAjax("+(data.isLastPage?data.pages:data.nextPage)+")").html("&gt;&gt;");
            var $divc = $("<div>").append($prev);
            $.each(data.navigatepageNums,function (index,items) {
                if (items==data.pageNum){
                    var $spans = $("<span>").addClass("current").html(items);
                    $divc.append($spans);
                }else{
                    var $as = $("<a>").addClass("num").attr("href","javascript:getAjax("+items+")").html(items);
                    $divc.append($as)
                }
            })
            $divc.append($next);
            $(".page").append($divc);
        }

        function eachData(result) {
            $("#tbodys").empty();

            $.each(result,function (index,items) {
                <!-- 遍历数据 -->
                var $serviceNo = $("<td>").html(items.serviceNo);
                var $superServiceNo = $("<td>").html(items.superServiceNo);
                var $serviceName = $("<td>").html(items.serviceName);
                var $serviceUrl = $("<td>").html(items.serviceUrl);
                var $serviceLevel = $("<td>").html(items.serviceLevel=='1'?'否':'是');
                var $createTime = $("<td>").html(items.createTime);
                var $updateTime = $("<td>").html(items.updateTime);
                <!--状态栏-->
                var $status = $("<span>").addClass(items.status=='1'?'layui-btn layui-btn-normal layui-btn-mini':'layui-btn layui-btn-disabled').html(items.status=='1'?'正常':'冻结');
                var $td_status = $("<td>").addClass("td-status").append($status);
                <!--操作栏-->
                var $a1 = $("<a>").attr("onclick","member_stop(this,'"+items.serviceNo+"')").attr("href","javascript:;").attr("title",items.status=='1'?'停用':'启用');
                var $i1 = $("<i>").addClass("layui-icon").html("&#xe601;");
                var $a2 = $("<a>").attr("title","编辑").attr("onclick","member_getNo('"+items.serviceNo+"')").attr("href","javascript:;");
                var $i2 = $("<i>").addClass("layui-icon").html("&#xe642;");
                var $a3 = $("<a>").attr("title","删除").attr("onclick","member_del(this,'"+items.serviceNo+"')").attr("href","javascript:;");
                var $i3 = $("<i>").addClass("layui-icon").html("&#xe640;");
                var $td_manage = $("<td>").addClass("td-manage").append($a1.append($i1)).append($a2.append($i2)).append($a3.append($i3));
                var $tr = $("<tr>").append($serviceNo).append($superServiceNo).
                append($serviceName).append($serviceUrl).append($serviceLevel).append($createTime).
                append($updateTime).append($td_status).append($td_manage);
                $("#tbodys").append($tr);
            })
        }

        /*用户-停用*/
        function member_stop(obj,id){
            layer.confirm('确认要操作吗？',function(index){
                if($(obj).attr('title')=='启用'){
                    $.ajax({
                        url:"/Fengdi/FserviceController/stop",
                        type:"post",
                        data:{
                            serviceNo:id,
                            status:"1"
                        },
                        success:function (data) {
                            if (data.success){
                                $(obj).attr('title','停用')
                                $(obj).find('i').html('&#xe62f;');
                                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').addClass("layui-btn-normal layui-btn-mini").html('正常');
                                layer.msg('正常!',{icon: 1,time:1000});
                                window.location.reload();
                            }else{
                                layer.msg('启用失败,显示标题已达到最大值',{icon:5,time:1000});
                            }
                        }
                    });
                }else{
                    $.ajax({
                        url:"/Fengdi/FserviceController/stop",
                        type:"post",
                        data:{
                            serviceNo:id,
                            status:"0"
                        },
                        success:function (data) {
                            if (data.success){
                                $(obj).attr('title','启用')
                                $(obj).find('i').html('&#xe601;');
                                $(obj).parents("tr").find(".td-status").find('span').addClass("layui-btn-disabled").html('停用');
                                layer.msg('停用!',{icon: 1,time:1000});
                                window.location.reload();
                            }else{
                                layer.msg('操作失败',{icon:5,time:1000});
                            }
                        }

                    });
                }


            });
        }

        function member_del(serviceNo){
            layer.confirm('确认要删除吗？如果是一级标题，则所属一级标题的二级标题将全部删除！！！',function(index){
                //发异步删除数据
                $.ajax({
                    url:"/Fengdi/FserviceController/delserviceNo",
                    type:"post",
                    data:{
                        serviceNo:serviceNo
                    },
                    success:function (data) {
                        if (data.success){
                            $(this).parents("tr").remove();
                            layer.msg('已删除!',{icon:1,time:5000});
                            window.location.reload();
                        }else{
                            layer.msg('删除失败',{icon:1,time:1000});
                        }
                    }
                });
            });
        }

        function member_getNo(serviceNo){
            $.ajax({
                url:"/Fengdi/FserviceController/getserviceNo",
                type:"post",
                data:{
                    serviceNo:serviceNo
                },
                success:function (data) {
                    if (data.success){
                        x_admin_show('编辑','/view/member-edit');
                    }else{
                        layer.msg('删除失败',{icon:1,time:1000});
                    }
                }
            });
        }

        $(function () {
            $("#add").click(function () {
                var serviceName = $("input[name='serviceName']").val();
                var serviceUrl = $("input[name='serviceUrl']").val();
                if (serviceName==null||serviceUrl.trim()<1){
                    alert("标题内容不能为空");
                    return false;
                }
                $.ajax({
                    url:"/Fengdi/fannouncementService/getadd",
                    type:"post",
                    data:{
                        text:announcementName,
                        status:status
                    },
                    success:function (data) {
                        if (data.success){
                            layer.alert("增加成功", {icon: 6},function () {
                                // 获得frame索引
                                var index = parent.layer.getFrameIndex(window.name);
                                //关闭当前frame
                                parent.window.location.href="/Fengdi/fannouncementService/getall";
                            });
                        }else{
                            alert("添加失败,请重新添加");
                        }
                    }
                });
                return false;
            });
        })

        function member_add2(){
            $.ajax({
                url:"/Fengdi/FserviceController/getservicelevel",
                type:"post",
                success:function (data) {
                    if (data.success){
                       x_admin_show('添加二级标题','/Fengdi/view/member-add2');
                    }else{
                        layer.msg('页面没有一级标题，请先添加',{icon:2,time:1000});
                    }
                }
            });
        }

      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });


      function delAll (argument) {

        var data = tableCheck.getData();
  
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
    </script>

  </body>

</html>