<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="UTF-8">
    <title>全民养羊官网后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form">
            <table>
                <tr th:if="${session.f.ServiceLevel==1}">
                    <input type="hidden" id="ss" th:value="${session.f.serviceNo}" name="serviceNo" required="" lay-verify="nikename"
                           autocomplete="off" class="layui-input">
                    <div class="layui-form-item">
                        <label for="superServiceNo" class="layui-form-label">
                            <span class="x-red">*</span>一级标题名称
                        </label>
                        <div class="layui-input-inline">
                            <select id="superServiceNo">
                                <option th:value="${session.a.serviceNo}" th:text="${session.a.serviceName}" name="superServiceNo"></option>
                                <option th:each="n:${session.s}"th:value="${n.serviceNo}" th:text="${n.serviceName}" name="superServiceNo"></option>
                            </select>
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="serviceName" class="layui-form-label">
                            <span class="x-red">*</span>二级标题名称
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="serviceName" th:value="${session.f.serviceName}" name="serviceName" required="" lay-verify="nikename"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </tr>
                <tr th:if="${session.f.ServiceLevel==0}">
                    <input type="hidden" id="s" th:value="${session.f.serviceNo}" name="serviceNo" required="" lay-verify="nikename"
                           autocomplete="off" class="layui-input">
                    <div class="layui-form-item">
                        <label for="fserviceName" class="layui-form-label">
                            <span class="x-red">*</span>一级标题名称
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="fserviceName" th:value="${session.f.serviceName}" name="serviceName" required="" lay-verify="nikename"
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>
                        </div>
                    </div>
                </tr>
                <div class="layui-form-item">
                    <label for="serviceUrl" class="layui-form-label">
                        标题链接
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="serviceUrl" th:value="${session.f.serviceUrl}" name="serviceUrl" required="" lay-verify=""
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                    <div class="layui-form-item">
                        <button id="upd"  class="layui-btn" lay-filter="add" lay-submit="">
                            修改
                        </button>
                    </div>
            </table>
      </form>
    </div>
    <script>

        $(function () {
            $("#upd").click(function () {
                var serviceNo = $("input[name='serviceNo']").val();
                var superServiceNo = $('#superServiceNo option:selected').val();
                var serviceName = $("input[name='serviceName']").val();
                var serviceUrl = $("input[name='serviceUrl']").val();
                if (serviceName==null||serviceName.trim()<1){
                    layer.msg('标题名称不能为空"',{icon:2,time:1000});
                    return false;
                }
                if (serviceName.length>6){
                    layer.msg('标题名称不能超过6个字',{icon:2,time:1000});
                    return false;
                }
                $.ajax({
                    url:"/Fengdi/FserviceController/upd",
                    type:"post",
                    data:{
                        serviceNo:serviceNo,
                        superServiceNo:superServiceNo,
                        serviceName:serviceName,
                        serviceUrl:serviceUrl,
                    },
                    success:function (data) {
                        if (data.success){
                            layer.alert("修改成功", {icon: 6},function () {
                                // 获得frame索引
                                var index = parent.layer.getFrameIndex(window.name);
                                //关闭当前frame
                                parent.window.location.href="/Fengdi/FserviceController/getall";
                            });
                        }else{
                            alert("添加失败,请重新添加");
                        }
                    }
                });
                return false;
            });
        })

      layui.use(['form','layer'], function(){
          $ = layui.jquery;
        var form = layui.form
        ,layer = layui.layer;
      
        //自定义验证规则
        form.verify({
          nikename: function(value){
            if(value.length < 5){
              return '昵称至少得5个字符啊';
            }
          }
          ,pass: [/(.+){6,12}$/, '密码必须6到12位']
          ,repass: function(value){
              if($('#L_pass').val()!=$('#L_repass').val()){
                  return '两次密码不一致';
              }
          }
        });

        //监听提交
        form.on('submit(add)', function(data){
          console.log(data);
          //发异步，把数据提交给php
          layer.alert("增加成功", {icon: 6},function () {
              // 获得frame索引
              var index = parent.layer.getFrameIndex(window.name);
              //关闭当前frame
              parent.layer.close(index);
          });
          return false;
        });
        
        
      });
  </script>

  </body>

</html>