<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengdi.keepsheep.mapper.FAdminMapper" >
  <resultMap id="BaseResultMap" type="com.fengdi.keepsheep.bean.FAdmin" >
    <id column="admin_no" property="adminNo" jdbcType="VARCHAR" />
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="admin_name" property="adminName" jdbcType="VARCHAR" />
    <result column="cardId" property="cardid" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="mobile_no" property="mobileNo" jdbcType="VARCHAR" />
    <result column="is_login_mobile" property="isLoginMobile" jdbcType="BIT" />
    <result column="admin_level" property="adminLevel" jdbcType="BIT" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="login_ip" property="loginIp" jdbcType="VARCHAR" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="parent_admin_no" property="parentAdminNo" jdbcType="VARCHAR" />
    <result column="group_no" property="groupNo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="merchant_no" property="merchantNo" jdbcType="VARCHAR" />
    <result column="found_name" property="foundName" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    admin_no, id, nickname, admin_name, cardId, login_name, pwd, salt, mobile_no, is_login_mobile, 
    admin_level, email, login_ip, login_time, status, parent_admin_no, group_no, create_time, 
    update_time, merchant_no, found_name, score
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fengdi.keepsheep.bean.FAdminExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from f_admin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from f_admin
    where admin_no = #{adminNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from f_admin
    where admin_no = #{adminNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fengdi.keepsheep.bean.FAdminExample" >
    delete from f_admin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fengdi.keepsheep.bean.FAdmin" >
    insert into f_admin (admin_no, id, nickname, 
      admin_name, cardId, login_name, 
      pwd, salt, mobile_no, 
      is_login_mobile, admin_level, email, 
      login_ip, login_time, status, 
      parent_admin_no, group_no, create_time, 
      update_time, merchant_no, found_name, 
      score)
    values (#{adminNo,jdbcType=VARCHAR}, #{id,jdbcType=BIGINT}, #{nickname,jdbcType=VARCHAR}, 
      #{adminName,jdbcType=VARCHAR}, #{cardid,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, 
      #{pwd,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{mobileNo,jdbcType=VARCHAR}, 
      #{isLoginMobile,jdbcType=BIT}, #{adminLevel,jdbcType=BIT}, #{email,jdbcType=VARCHAR}, 
      #{loginIp,jdbcType=VARCHAR}, #{loginTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, 
      #{parentAdminNo,jdbcType=VARCHAR}, #{groupNo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{merchantNo,jdbcType=VARCHAR}, #{foundName,jdbcType=VARCHAR}, 
      #{score,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.fengdi.keepsheep.bean.FAdmin" >
    insert into f_admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adminNo != null" >
        admin_no,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="adminName != null" >
        admin_name,
      </if>
      <if test="cardid != null" >
        cardId,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="pwd != null" >
        pwd,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="mobileNo != null" >
        mobile_no,
      </if>
      <if test="isLoginMobile != null" >
        is_login_mobile,
      </if>
      <if test="adminLevel != null" >
        admin_level,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="loginIp != null" >
        login_ip,
      </if>
      <if test="loginTime != null" >
        login_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="parentAdminNo != null" >
        parent_admin_no,
      </if>
      <if test="groupNo != null" >
        group_no,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="merchantNo != null" >
        merchant_no,
      </if>
      <if test="foundName != null" >
        found_name,
      </if>
      <if test="score != null" >
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adminNo != null" >
        #{adminNo,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null" >
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="cardid != null" >
        #{cardid,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="mobileNo != null" >
        #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="isLoginMobile != null" >
        #{isLoginMobile,jdbcType=BIT},
      </if>
      <if test="adminLevel != null" >
        #{adminLevel,jdbcType=BIT},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="loginIp != null" >
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="parentAdminNo != null" >
        #{parentAdminNo,jdbcType=VARCHAR},
      </if>
      <if test="groupNo != null" >
        #{groupNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="merchantNo != null" >
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="foundName != null" >
        #{foundName,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fengdi.keepsheep.bean.FAdminExample" resultType="java.lang.Integer" >
    select count(*) from f_admin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update f_admin
    <set >
      <if test="record.adminNo != null" >
        admin_no = #{record.adminNo,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.nickname != null" >
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.adminName != null" >
        admin_name = #{record.adminName,jdbcType=VARCHAR},
      </if>
      <if test="record.cardid != null" >
        cardId = #{record.cardid,jdbcType=VARCHAR},
      </if>
      <if test="record.loginName != null" >
        login_name = #{record.loginName,jdbcType=VARCHAR},
      </if>
      <if test="record.pwd != null" >
        pwd = #{record.pwd,jdbcType=VARCHAR},
      </if>
      <if test="record.salt != null" >
        salt = #{record.salt,jdbcType=VARCHAR},
      </if>
      <if test="record.mobileNo != null" >
        mobile_no = #{record.mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="record.isLoginMobile != null" >
        is_login_mobile = #{record.isLoginMobile,jdbcType=BIT},
      </if>
      <if test="record.adminLevel != null" >
        admin_level = #{record.adminLevel,jdbcType=BIT},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.loginIp != null" >
        login_ip = #{record.loginIp,jdbcType=VARCHAR},
      </if>
      <if test="record.loginTime != null" >
        login_time = #{record.loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.parentAdminNo != null" >
        parent_admin_no = #{record.parentAdminNo,jdbcType=VARCHAR},
      </if>
      <if test="record.groupNo != null" >
        group_no = #{record.groupNo,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.merchantNo != null" >
        merchant_no = #{record.merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="record.foundName != null" >
        found_name = #{record.foundName,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update f_admin
    set admin_no = #{record.adminNo,jdbcType=VARCHAR},
      id = #{record.id,jdbcType=BIGINT},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      admin_name = #{record.adminName,jdbcType=VARCHAR},
      cardId = #{record.cardid,jdbcType=VARCHAR},
      login_name = #{record.loginName,jdbcType=VARCHAR},
      pwd = #{record.pwd,jdbcType=VARCHAR},
      salt = #{record.salt,jdbcType=VARCHAR},
      mobile_no = #{record.mobileNo,jdbcType=VARCHAR},
      is_login_mobile = #{record.isLoginMobile,jdbcType=BIT},
      admin_level = #{record.adminLevel,jdbcType=BIT},
      email = #{record.email,jdbcType=VARCHAR},
      login_ip = #{record.loginIp,jdbcType=VARCHAR},
      login_time = #{record.loginTime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=VARCHAR},
      parent_admin_no = #{record.parentAdminNo,jdbcType=VARCHAR},
      group_no = #{record.groupNo,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      merchant_no = #{record.merchantNo,jdbcType=VARCHAR},
      found_name = #{record.foundName,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fengdi.keepsheep.bean.FAdmin" >
    update f_admin
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null" >
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="cardid != null" >
        cardId = #{cardid,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="mobileNo != null" >
        mobile_no = #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="isLoginMobile != null" >
        is_login_mobile = #{isLoginMobile,jdbcType=BIT},
      </if>
      <if test="adminLevel != null" >
        admin_level = #{adminLevel,jdbcType=BIT},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="loginIp != null" >
        login_ip = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="parentAdminNo != null" >
        parent_admin_no = #{parentAdminNo,jdbcType=VARCHAR},
      </if>
      <if test="groupNo != null" >
        group_no = #{groupNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="merchantNo != null" >
        merchant_no = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="foundName != null" >
        found_name = #{foundName,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=DOUBLE},
      </if>
    </set>
    where admin_no = #{adminNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fengdi.keepsheep.bean.FAdmin" >
    update f_admin
    set id = #{id,jdbcType=BIGINT},
      nickname = #{nickname,jdbcType=VARCHAR},
      admin_name = #{adminName,jdbcType=VARCHAR},
      cardId = #{cardid,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      mobile_no = #{mobileNo,jdbcType=VARCHAR},
      is_login_mobile = #{isLoginMobile,jdbcType=BIT},
      admin_level = #{adminLevel,jdbcType=BIT},
      email = #{email,jdbcType=VARCHAR},
      login_ip = #{loginIp,jdbcType=VARCHAR},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      parent_admin_no = #{parentAdminNo,jdbcType=VARCHAR},
      group_no = #{groupNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      merchant_no = #{merchantNo,jdbcType=VARCHAR},
      found_name = #{foundName,jdbcType=VARCHAR},
      score = #{score,jdbcType=DOUBLE}
    where admin_no = #{adminNo,jdbcType=VARCHAR}
  </update>

  <!--验证登录-->
  <select id="checkLogin" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from f_admin where login_name=#{loginName} and pwd=#{password}
  </select>

  <!--更新登录时间和登录的IP-->
  <update id="updateAdminForLoginTime" parameterType="map">
    UPDATE f_admin SET login_time=#{loginTime},login_ip=#{loginIp} WHERE admin_no=#{adminNo}
  </update>

  <!--通过条件查询-->
  <select id="selectAdminByStatus" parameterType="admin" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM f_admin
    <where>
      <if test="loginName!=null and loginName!=''">
        login_name LIKE CONCAT('%',#{loginName},'%')
      </if>
      <if test="adminName!=null and adminName!=''">
        AND admin_name LIKE CONCAT('%',#{adminName},'%')
      </if>
    </where>
  </select>

  <!--通过编号删除用户-->
  <delete id="deleteAdminByAdminNo" parameterType="string">
    DELETE FROM f_admin WHERE admin_no=#{adminNo}
  </delete>
  <!--更新用户状态-->
  <update id="updateAdminStatus" parameterType="map">
    UPDATE f_admin SET status=#{status} WHERE admin_no=#{adminNo}
  </update>

  <select id="selectAdminByAdminNo" parameterType="string" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM f_admin
    WHERE admin_no=#{adminNo}
  </select>

</mapper>