<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengdi.keepsheep.mapper.FProblemMapper" >
  <resultMap id="BaseResultMap" type="com.fengdi.keepsheep.bean.FProblem" >
    <id column="problem_no" property="problemNo" jdbcType="VARCHAR" />
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="problem_answers" property="problemAnswers" jdbcType="VARCHAR" />
    <result column="group_cnname" property="groupCnname" jdbcType="VARCHAR" />
    <result column="admin_group_no" property="adminGroupNo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    problem_no, id, problem_answers, group_cnname, admin_group_no, status, create_time, 
    update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fengdi.keepsheep.bean.FProblemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from f_problem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from f_problem
    where problem_no = #{problemNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from f_problem
    where problem_no = #{problemNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fengdi.keepsheep.bean.FProblemExample" >
    delete from f_problem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fengdi.keepsheep.bean.FProblem" >
    insert into f_problem (problem_no, id, problem_answers, 
      group_cnname, admin_group_no, status, 
      create_time, update_time)
    values (#{problemNo,jdbcType=VARCHAR}, #{id,jdbcType=BIGINT}, #{problemAnswers,jdbcType=VARCHAR}, 
      #{groupCnname,jdbcType=VARCHAR}, #{adminGroupNo,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fengdi.keepsheep.bean.FProblem" >
    insert into f_problem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="problemNo != null" >
        problem_no,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="problemAnswers != null" >
        problem_answers,
      </if>
      <if test="groupCnname != null" >
        group_cnname,
      </if>
      <if test="adminGroupNo != null" >
        admin_group_no,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="problemNo != null" >
        #{problemNo,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="problemAnswers != null" >
        #{problemAnswers,jdbcType=VARCHAR},
      </if>
      <if test="groupCnname != null" >
        #{groupCnname,jdbcType=VARCHAR},
      </if>
      <if test="adminGroupNo != null" >
        #{adminGroupNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fengdi.keepsheep.bean.FProblemExample" resultType="java.lang.Integer" >
    select count(*) from f_problem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update f_problem
    <set >
      <if test="record.problemNo != null" >
        problem_no = #{record.problemNo,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.problemAnswers != null" >
        problem_answers = #{record.problemAnswers,jdbcType=VARCHAR},
      </if>
      <if test="record.groupCnname != null" >
        group_cnname = #{record.groupCnname,jdbcType=VARCHAR},
      </if>
      <if test="record.adminGroupNo != null" >
        admin_group_no = #{record.adminGroupNo,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update f_problem
    set problem_no = #{record.problemNo,jdbcType=VARCHAR},
      id = #{record.id,jdbcType=BIGINT},
      problem_answers = #{record.problemAnswers,jdbcType=VARCHAR},
      group_cnname = #{record.groupCnname,jdbcType=VARCHAR},
      admin_group_no = #{record.adminGroupNo,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fengdi.keepsheep.bean.FProblem" >
    update f_problem
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="problemAnswers != null" >
        problem_answers = #{problemAnswers,jdbcType=VARCHAR},
      </if>
      <if test="groupCnname != null" >
        group_cnname = #{groupCnname,jdbcType=VARCHAR},
      </if>
      <if test="adminGroupNo != null" >
        admin_group_no = #{adminGroupNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where problem_no = #{problemNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fengdi.keepsheep.bean.FProblem" >
    update f_problem
    set id = #{id,jdbcType=BIGINT},
      problem_answers = #{problemAnswers,jdbcType=VARCHAR},
      group_cnname = #{groupCnname,jdbcType=VARCHAR},
      admin_group_no = #{adminGroupNo,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where problem_no = #{problemNo,jdbcType=VARCHAR}
  </update>

  <delete id="deleteById">
    delete from f_problem where id=#{id}
  </delete>

  <update id="updateByStatus">
    update f_problem set status=#{status} where id=#{id}
  </update>

  <select id="selectById" resultMap="BaseResultMap">
    SELECT id,problem_no,problem_answers,status FROM f_problem  WHERE id=#{id};
  </select>
  
  <update id="updateById">
    UPDATE f_problem SET problem_no=#{problemNo},problem_answers=#{problemAnswers},status=#{status} WHERE id=#{id};
  </update>

  <select id="selectNoAndCname" resultMap="BaseResultMap" parameterType="map">
    select *
    from f_problem
    <where>
      1=1
      <if test="problemNo!=null and problemNo!=''">
         and problem_no LIKE CONCAT('%',#{problemNo},'%')
      </if>
      <if test="groupCnname!=null and groupCnname!=''">
        AND group_cnname LIKE CONCAT('%',#{groupCnname},'%')
      </if>
    </where>
  </select>

  <select id="checkStatus" resultType="int">
    select count(*) from f_problem where status='1';
  </select>

  <select id="selectByStatus" resultMap="BaseResultMap">
    select * from f_problem where status='1'
</select>
</mapper>