<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>全民养羊官网后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>问题标题
            </label>
            <div class="layui-input-inline">
                <input type="text" id="problem_no" name="problem_no" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>

        </div>
        <div class="layui-form-item">
            <label for="phone" class="layui-form-label">
                <span class="x-red">*</span>问题答案
            </label>
            <div class="layui-input-inline">
                <input type="text" id="problem_answers" name="problem_answers" required="" lay-verify="phone"
                       autocomplete="off" class="layui-input">
            </div>

        </div>
        <div class="layui-form-item">
            <label for="L_pass" class="layui-form-label">
                <span class="x-red">*</span>状态
            </label>
            <div class="layui-input-inline">
                <select id="status">
                    <option value="0">未展示</option>
                </select>
            </div>

        </div>

        <div class="layui-form-item">

            <button id="addProblem"  class="layui-btn" lay-filter="add" lay-submit="">
                增加
            </button>
        </div>
    </form>
</div>
<script>

    $(function () {
        $("#addProblem").click(function () {
            var problem_no = $("input[name='problem_no']").val();
            var problem_answers =$("input[name='problem_answers']").val();
            var status = $('#status option:selected') .val();
            if (problem_no==null||problem_no.trim()<1){
                alert("问题标题不能为空");
                return false;
            }
            if (problem_answers==null||problem_answers.trim()<1){
                alert("问题答案不能为空");
                return false;
            }

            $.ajax({
                url:"/Fengdi/problem/addProblem",
                type:"post",
                data:{
                    problemNo:problem_no,
                    problemAnswers:problem_answers,
                    status:status
                },
                success:function (data) {
                    if (data.success){
                        layer.alert("增加成功", {icon: 6},function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.window.location.href="/Fengdi/problem/selectAllProblem";
                        });
                    }else{
                        alert("添加失败,请重新添加");
                    }
                }
            });
            return false;
        });
    })

    layui.use(['form','layer'], function(){
        $ = layui.jquery;
        var form = layui.form
            ,layer = layui.layer;

        //自定义验证规则
        form.verify({
            nikename: function(value){
                if(value.length < 5){
                    return '昵称至少得5个字符啊';
                }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
        });
    });
</script>

</body>

</html>